* {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 480px) {
    body {
        background-color: #DF2E2E;
        color: rgb(240, 240, 240);
    }

    .vanilla, .doables {
        margin-bottom: 2em;
    }

    .medium, .large {
        display: none;
    }

    .small {
        max-height: 100vh;
        max-width: 90vw;
        margin-left: 5vw;
        margin-top: 2vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        text-align: center;
        margin: 20px;
    }

    h2 {
        margin-bottom: 10px;
    }

    h3 {
        margin-top: 10vw;
    }

    p {
        margin-bottom: 10px;
    }

    .small-doable, .medium-doable, .large-doable {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-width: 90vw;
        margin-left: 5vw;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #519259;
        color: rgb(240, 240, 240);
    }

    .medium {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-height: 100vh;
        max-width: 90vw;
        margin-left: 5vw;
        margin-top: 2vh;
    }

    .small {
        display: none;
    }

    p {
        font-size: 18px;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 26px;
    }

    .small-doable {
        width: 60vw;
    }

    .medium-doable {
        width: 28vw;
        margin-right: 2vw;
    }

    .doables {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-color: #344CB7;
        color: rgb(240, 240, 240);
    }

    .large {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-height: 100vh;
        max-width: 90vw;
        margin-left: 5vw;
        margin-top: 2vh;
    }

    .medium {
        display: none;
    }

    p {
        font-size: 20px;
    }

    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 30px;
    }

    .small-doable, .medium-doable, .large-doable {
        width: 30vw;
    }

    .large-doable {
        margin-right: 5vw;
    }

    .doables {
        flex-flow: row nowrap;
    }
}