* {
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 480px) {
    body {
        background-color: #DF2E2E;
        color: rgb(240, 240, 240);
    }

    .medium, .large {
        display: none;
    }

    .small {
        max-height: 100vh;
        max-width: 80vw;
        margin-left: 10vw;
        margin-top: 2vh;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    h1 {
        text-align: center;
        margin: 20px;
    }

    h2 {
        margin-bottom: 10px;
    }

    p {
        margin-bottom: 10px;
    }
}

@media only screen and (min-width: 768px) {
    body {
        background-color: #519259;
        color: rgb(240, 240, 240);
    }

    .medium {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-height: 100vh;
        max-width: 80vw;
        margin-left: 10vw;
        margin-top: 2vh;
    }

    .small {
        display: none;
    }

    p {
        font-size: 18px;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        background-color: #344CB7;
        color: rgb(240, 240, 240);
    }

    .large {
        display: flex;
        justify-content: center;
        flex-direction: column;
        max-height: 100vh;
        max-width: 80vw;
        margin-left: 10vw;
        margin-top: 2vh;
    }

    .medium {
        display: none;
    }

    p {
        font-size: 24px;
    }
}